/* body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #e3f2fd, #bbdefb);
  margin: 0;
  padding: 0;
} */

.dashboard-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.dashboard-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.dashboard-card h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333;
}

.msg
{
  margin: 40px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

button.dashboard-button {
  background: #007bff;
  color: white;
}

button.dashboard-button:hover {
  background: #0056b3;
}

button.check-out {
  background: #28a745;
  color: white;
}

button.check-out:hover {
  background: #1e7e34;
}

.chart-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.date-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.date-inputs input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.date-inputs button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.date-inputs button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .dashboard-grid {
      grid-template-columns: 1fr;
  }
  .date-inputs {
      flex-direction: column;
      align-items: center;
  }
}
